@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    --height: 80vh;
    --width: 80vw;
    --tile-size: calc(min(var(--height), var(--width)) / 15);
    @apply font-display box-border
  }

  body {
    @apply w-screen h-screen max-w-full max-h-full m-0 bg-primaryLight dark:bg-primaryDark transition-colors duration-300 text-black dark:text-white
  }
}

@layer components {
  .main-button {
    @apply
    text-secondaryLight border-secondaryLight border-8 rounded-[2.5rem]
    dark:text-secondaryDark dark:border-secondaryDark
    h-20 w-52 my-4 mx-auto shadow-lg font-bold text-2xl

    hover:bg-secondaryLight hover:text-primaryLight
    dark:hover:bg-secondaryDark dark:hover:text-primaryDark
    hover:rounded-3xl cursor-pointer

    transition-all duration-300

    disabled:bg-triLight  disabled:hover:text-primaryLight  disabled:text-primaryLight
    dark:disabled:bg-triDark  dark:disabled:hover:text-primaryDark  dark:disabled:text-primaryDark
    disabled:hover:rounded-[2.5rem] disabled:hover:cursor-default disabled:border-0
  }

  .game-button {
    @apply w-[calc(2*var(--tile-size))] h-[var(--tile-size)] mx-2 font-bold
    rounded-lg border-2 cursor-pointer

    border-secondaryLight text-secondaryLight
    hover:text-primaryLight hover:bg-secondaryLight

    dark:border-secondaryDark dark:text-secondaryDark
    dark:hover:text-primaryDark dark:hover:bg-secondaryDark
  }

  .tile {
    @apply flex flex-col flex-grow-0 flex-shrink-0 w-[var(--tile-size)] h-[var(--tile-size)]
    cursor-pointer border-2 rounded-lg justify-center
    text-center font-bold select-none text-[calc(var(--tile-size)/3)]

    transition-colors duration-300

    text-black border-secondaryLight
    dark:border-primaryDark
  }

  .tw {
    @apply bg-[#cd3227] dark:bg-[#b22222]
    cursor-default
  }

  .dw {
    @apply bg-[#f97c7c] dark:bg-[#ff00ff]
    cursor-default
  }

  .tl {
    @apply bg-[#1e90ff] dark:bg-[#4682b4]
    cursor-default
  }

  .dl {
    @apply bg-[#a5d6f7] dark:bg-[#00ffff]
    cursor-default
  }

  .blank {
    @apply bg-tan dark:bg-triDark
    cursor-default
  }

  .moveable {
    @apply bg-[#fdfd96] dark:bg-[#ffff00]
  }

  .filled {
    @apply bg-[#FFDA29] dark:bg-[#ffa500]
    cursor-default
  }
}