.tile {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--tile-size);
    height: var(--tile-size);
    cursor: pointer;
    transition: border-color 0.25s;
    border: 3px solid transparent;
    border-radius: 8px;
    justify-content: center;
    font-size: calc(min(1.25vw, 2vh));
    font-weight: bold;
    color: black;
    user-select: none;
    text-align: center;
}

.tile:hover {
    border-color: white;
}

/* @media (min-width) */

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    .tw {
        background-color: firebrick;
    }

    .dw {
        background-color: fuchsia;
    }

    .tl {
        background-color: steelblue;
    }

    .dl {
        background-color: cyan;
    }

    .blank {
        background-color: #494949;
    }

    .moveable {
        background-color: yellow;
    }

    .filled {
        background-color: orange;
    }
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    .tw {
        background-color: tomato;
    }

    .dw {
        background-color: pink;
    }

    .tl {
        background-color: dodgerblue;
    }

    .dl {
        background-color: skyblue;
    }

    .blank {
        background-color: tan;
    }

    .filled {
        background-color: brown;
    }
}

